<mat-form-field class="example-full-width" appearance="fill">
  <input
    matInput
    [formControl]="formControl"
    (input)="onInputChange($event)"
    (blur)="onInputBlur()"
  />
  <mat-error *ngFor="let error of outerControl.errors | keyvalue">
    <ng-container [ngSwitch]="error.key">
      <ng-container *ngSwitchCase="'required'">
        Field required error
      </ng-container>
      <ng-container *ngSwitchCase="'minlength'">
        Please enter at least {{ error.value.requiredLength }} chars
      </ng-container>
      <ng-container *ngSwitchDefault>
        <ng-container *ngIf="error.value | json as serialized">
          <ng-container *ngIf="!serialized.startsWith('{')">
            {{ error.value }}
          </ng-container>
          <ng-container *ngIf="serialized.startsWith('{')">
            <pre>{{ error.value | json }}</pre>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </mat-error>
</mat-form-field>
<hr />
Debug:
<input
  type="checkbox"
  [(ngModel)]="forwardValidatorCalls"
/>forwardValidatorCalls
<input
  type="checkbox"
  [(ngModel)]="useOuterFormControl"
/>useOuterFormControl
<pre>formControl.errors = {{ formControl.errors | json }}</pre>
<pre>outerControl.errors = {{ outerControl.errors | json }}</pre>
<ul>
  <li *ngFor="let error of outerControl.errors | keyvalue">
    <ng-container [ngSwitch]="error.key">
      <ng-container *ngSwitchCase="'required'">
        Field required error
      </ng-container>
      <ng-container *ngSwitchCase="'minlength'">
        Please enter at least {{ error.value.requiredLength }} chars
      </ng-container>
      <ng-container *ngSwitchDefault>
        <ng-container *ngIf="error.value | json as serialized">
          <ng-container *ngIf="!serialized.startsWith('{')">
            {{ error.value }}
          </ng-container>
          <ng-container *ngIf="serialized.startsWith('{')">
            <pre>{{ error.value | json }}</pre>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </li>
</ul>
